.cuerpo {
    margin: 0;
    background-color: rgb(255, 245, 106);
}
.mb-4 {
    margin-top: 1rem;
    display : flex;
    width: 20rem;
    height: auto;
    justify-content: center;
    align-items:center ;
}

.formulario_login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 30% auto;
    align-items: center;
}

.titulo_login {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 
.adorno_fondo {
    background-color: rgb(255, 255, 255);
    color:rgb(16, 13, 155);
}

/* .div1 {
    display : flex;
    width: 72;
    height: 57;
    justify-content: center;
    align-items:center ;  
}
.Row {
    display: table;
}
.Column {
    display: table-cell;
} */
